<!DOCTYPE html>
<html lang="th" class="has-background-black-bis">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/css/root.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Workshop 9</title>
    </head>

<body class="has-navbar-fixed-top">
    <nav class="navbar has-background-black-ter is-fixed-top">
        <div class="navbar-brand">
            <p class="navbar-item has-text-light">KONKAMON SION
            </p>
        </div>
        <div class="navbar-start">
            <div class="navbar-item has-text-light">
                <div>
                    <p id="workshopName"><strong class="has-text-white">Workshop 9</strong> -
                        แอปพลิเคชันพยากรณ์อากาศ
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight-with-navbar" id="header2">
        <div class="hero-body is-flex is-justify-content-center">
            <div class="box has-background-black-ter has-text-centered">
                <p class="title has-text-warning">ไม่พบข้อมูล!!</p>
                <hr>
                <p class="is-small" onclick="goHome();">กลับหน้าหลัก</p>
            </div>
        </div>
    </section>

    <script>
        function goHome() {
            window.location.href = "/workshop9";
        }
    </script>
</body>

</html>